<h2>Update Your Post</h2>
<hr>

<!-- You could put this form inside a partial, especially because it is similar to the one in posts/new.html.erb -->
<%= form_for @post, url: update_post_path({city_id: @post.city.id, post_id: @post.id}) do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <%= f.submit "Edit Post" %>
<% end %>
